[Unit]
Description=Coders in Flow Backend API
After=network.target

[Service]
Type=simple
User=www-data
WorkingDirectory=/var/www/codersinflow.com
Environment="PORT=8752"
Environment="MONGO_URI=mongodb://localhost:27421/codersblog"
ExecStart=/var/www/codersinflow.com/backend-go/backend-go
Restart=always
RestartSec=10
StandardOutput=append:/var/www/codersinflow.com/runtime/backend.log
StandardError=append:/var/www/codersinflow.com/runtime/backend.log

[Install]
WantedBy=multi-user.target