[Unit]
Description=Coders in Flow Astro Frontend
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/var/www/codersinflow.com
Environment="NODE_ENV=production"
Environment="PORT=4916"
Environment="HOST=0.0.0.0"
Environment="PUBLIC_API_URL=https://codersinflow.com"
Environment="BACKEND_PORT=8752"
ExecStart=/usr/bin/node /var/www/codersinflow.com/dist/server/entry.mjs
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target